#about {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    font-weight: normal;
    color: #66C4BE;
    padding-top: 100px;
}

.about-description {
    text-align: center;
    font-family: 'Courier New', monospace;
    font-size: 1.4rem;
    line-height: 1.4;
    padding-left: 95px;
    padding-right: 95px;
}

#moodboard-image {
    padding: 50px 0px 50px 0px;
    height: auto;
    width: 1213px;
}