h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #66C4BE;
    padding-top: 100px;
}

.book {
    display: flex;
    justify-content: center;
}

.booking-form {
    padding: 2rem 14rem 2rem 14rem;
    border: 1px solid #d4d3d3;
    box-shadow: 5px 10px #d4d3d3;
}

input {
    margin: 0.4rem 2rem 1rem 0rem;
}

label {
    padding-bottom: 1rem;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}