/* HEADER AND LOGO*/
:root {
  --navbar-text: #3f3f3f;
  --navbar-text-hover: #5ce0e0;
}

#header {
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 10;
    top: 0;
  }
  
  
  #atlas-logo {
    padding-top: 0.8rem;
    height: 140px;
  }
  
  /* NAVIGATION BAR*/
  #menu-bar {
    font-family: 'Raleway', sans-serif;
    font-size:1rem;
    display:flex;
    justify-content:space-evenly;
    position: relative; 
    
  }
  
  #menu-bar ul {
    list-style-type:none;
    display:flex;
    width:100%;
    align-items:center;
    justify-content:space-evenly;
  }
  
  .menu-left {
    text-decoration:none;
    color: var(--navbar-text);
  }
  
  .menu-right {
    text-decoration:none;
    color:var(--navbar-text);
  }
  
  .menu-left:hover {
    color: var(--navbar-text-hover);  
  }
  
  .menu-right:hover {
    color: var(--navbar-text-hover);  
  }